<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Project Types

    <a data-toggle="collapse" href="#solution_project_types_new_form">
      Add project type
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @solution.project_types.each do |project_type| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/project_types/<%= project_type.id %>">
          <%= project_type.type_name %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_project_type_from_sol/<%= project_type.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="solution_project_types_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
