<h1>
  Edit solution #<%= @solution.id %>
</h1>

<hr>

<form action="/update_solution/<%= @solution.id %>" method="post">

  <div class="form-group">
    <label for="sol_name">
      Sol name
    </label>

    <input type="text" id="sol_name" name="sol_name" class="form-control" value="<%= @solution.sol_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update solution
  </button>
</form>

<hr>

<a href="/solutions">
  Go back
</a>
