<h1>
  Add a new solution
</h1>


<hr>

<!-- Form solution start -->
<form action="/create_solution" method="post">
<!-- Form solution end -->

  <!-- Label and input for sol_name start -->
  <div class="form-group">
    <label for="sol_name">
      Sol name
    </label>

    <!-- Input for sol_name start -->
    <input type="text" id="sol_name" name="sol_name" class="form-control">
    <!-- Input for sol_name end -->
  </div>
  <!-- Label and input for sol_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create solution
  </button>
</form>

<hr>

<a href="/solutions">
  Go back
</a>
