<h1>
  Add a new solution
</h1>


<hr>

<form action="/create_solution" method="post">

  <div class="form-group">
    <label for="sol_name">
      Sol name
    </label>

    <input type="text" id="sol_name" name="sol_name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create solution
  </button>
</form>

<hr>

<a href="/solutions">
  Go back
</a>
