<% if @solution.present? %>
  <% if @solution.errors.any? %>
    <% @solution.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new solution
</h1>


<hr>

<form action="/create_solution" method="post">

  <div class="form-group">
    <label for="sol_name">
      Sol name
    </label>

    <input type="text" id="sol_name" name="sol_name" class="form-control" value="<%= @solution.sol_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create solution
  </button>
</form>

<hr>

<a href="/solutions">
  Go back
</a>
