<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Knowledgebase
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/proj_phases" class="dropdown-item">
              Proj Phases
            </a>
            <a href="/project_types" class="dropdown-item">
              Project Types
            </a>
            <a href="/engagements" class="dropdown-item">
              Engagements
            </a>
            <a href="/solutions" class="dropdown-item">
              Solutions
            </a>
            <a href="/institutions" class="dropdown-item">
              Institutions
            </a>
            <a href="/employees" class="dropdown-item">
              Employees
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_employee.blank? %>
          <li class="nav-item">
            <a href="/employees/sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/employees/sign_up" class="nav-link">
              Sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/employees/edit" class="nav-link">
              Edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/employees/sign_out" data-method="delete" class="nav-link">
              Sign out
            </a>
          </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
