<% if @institution.errors.any? %>
  <% @institution.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit institution #<%= @institution.id %>
</h1>

<hr>

<form action="/update_institution/<%= @institution.id %>" method="post">

  <div class="form-group">
    <label for="inst_name">
      Inst name
    </label>

    <input type="text" id="inst_name" name="inst_name" class="form-control" value="<%= @institution.inst_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update institution
  </button>
</form>

<hr>

<a href="/institutions">
  Go back
</a>
