<h1>
  Edit institution #<%= @institution.id %>
</h1>

<hr>

<!-- Form institution start -->
<form action="/update_institution/<%= @institution.id %>" method="post">
<!-- Form institution end -->

  <!-- Label and input for inst_name start -->
  <div class="form-group">
    <label for="inst_name">
      Inst name
    </label>

    <!-- Input for inst_name start -->
    <input type="text" id="inst_name" name="inst_name" class="form-control" value="<%= @institution.inst_name %>">
    <!-- Input for inst_name end -->
  </div>
  <!-- Label and input for inst_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update institution
  </button>
</form>

<hr>

<a href="/institutions">
  Go back
</a>
