<h1>
  Add a new institution
</h1>


<hr>

<form action="/create_institution" method="post">

  <div class="form-group">
    <label for="inst_name">
      Inst name
    </label>

    <input type="text" id="inst_name" name="inst_name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create institution
  </button>
</form>

<hr>

<a href="/institutions">
  Go back
</a>
