<form action="/create_proj_phase_from_project_type" method="post">

  <div class="form-group">
    <label for="phase_name">
      Phase name
    </label>

    <input type="text" id="phase_name" name="phase_name" class="form-control" value="<%= @proj_phase.phase_name %>">
  </div>

  <input type="hidden" name="type_id" value="<%= @project_type.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create proj phase
  </button>
</form>
