<h1>
  Edit proj phase #<%= @proj_phase.id %>
</h1>

<hr>

<form action="/update_proj_phase/<%= @proj_phase.id %>" method="post">

  <div class="form-group">
    <label for="phase_name">
      Phase name
    </label>

    <input type="text" id="phase_name" name="phase_name" class="form-control" value="<%= @proj_phase.phase_name %>">
  </div>

  <div class="form-group">
    <label for="type_id">
      Type
    </label>

    <%= select_tag(:type_id, options_from_collection_for_select(ProjectType.all, :id, :type_name, @proj_phase.type_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update proj phase
  </button>
</form>

<hr>

<a href="/proj_phases">
  Go back
</a>
